

ul#menu li {
  display: inline;
}

#h {
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
}
.container-fluid{
  background-color: #222222;
  text-align: center;
}

b {
  margin-left: 100px;
}

#logoo{
display:block;
  text-align: center;
  width: 1700px;

}
#nav{
  background-color: white;
}

.panel-group {
  margin-top: 100px;
}

#htwo {
  color: #303030;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

#hfour {
  color: #303030;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  text-align: center;
}

.container-fluid#first{
  background-image: url("images/title-image.jpg");
   background-size: 1920px 600px;
}

#hone {
  font-size: 80px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: 20px;
  color: #ffffff;
  text-align: center;
}

#top {
  color: #ffffff;
  font-size: 35px;
  font-family: "Playfair Display";
  line-height: 40px;
  font-weight: 400;
  font-style: italic;
}

li {
  display: inline;
  width: 400px;
}

ul#nav-top li {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  float: horizontal;
  display: inline;
}
ul#navnav li {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  float: vertical;
  display: inline;
}
ul#navnav
{
  margin-left: 600px;
}

#blog-container a {
  color: #303030;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul#nav-top li a {
  padding: 20px 20px;
  color: white;
  text-align: center;
}
ul#navnav li a {
  padding: 20px 20px;
  color: black;
  text-align: center;
}

.container-fluid#footer {
  background-color: #000000;
}

.icon-bar {
  width: 100%;
  style="background: #303030;
 overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #555;
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#gallery.container-fluid ul li {
  position: relative;
  width: 50%;
}

#gallery.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

#gallery.middle .text i {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 400px;
  left: 400px;
  transform: translate(-50px, -50px);
  -ms-transform: translate(-50px, -50px)
}

#gallery.container-fluid ul li:hover .image {
  opacity: 0.3;
}

#gallery.container-fluid ul li:hover .middle {
  opacity: 1;
}

#gallery.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#nl {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
}

.chef h2 {
  color: #303030;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.chef h3 {
  color: #303030;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  text-align: center;
}

#top-right-icon a {
  font-size: 15px;
  width: 10%;
  float: right;
}
